@import "tailwindcss";

:root {
  --background: #cac2b8;
  --foreground: #424242;
  --primary: #be6462;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", serif;
  --font-cinzel: "Cinzel Decorative", sans-serif;
  --font-amalfi: "Amalfi", sans-serif;
  --font-ivy-mode: "Ivy Mode", serif;
  --animate-scale: animate-scale 2s ease-in-out infinite;
  --animate-fade-in: fadeIn 3s ease-out;
  --animate-bg-in: bgIn 3s ease-out forwards;
  --animate-curtain-left: curtainLeft 1.2s ease-in-out forwards;
  --animate-curtain-right: curtainRight 1.2s ease-in-out forwards;
  --animate-fade-out-up: fade-out-up 1.2s ease-in-out forwards;

  @keyframes fade-out-up {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-50vh);
    }
  }

  @keyframes curtainLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes curtainRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes animate-scale {
    0%,
    100 {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes bgIn {
    0% {
      opacity: 0;
      filter: blur(18px) brightness(1.2);
    }
    100% {
      opacity: 1;
      filter: blur(0px) brightness(1);
    }
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  color: var(--primary);
}

body {
  color: var(--foreground);
  font-weight: 400;
  margin: 0;
}
