@import "tailwindcss";

:root {
  --background: #cac2b8;
  --foreground: #424242;
  --primary: #be6462;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", serif;
  --font-cinzel: "Cinzel Decorative", sans-serif;
  --font-amalfi: "Amalfi", sans-serif;
  --font-ivy-mode: "Ivy Mode", serif;
  --animate-scale: animate-scale 3s ease-in-out infinite;
  --animate-fade-in: fadeIn 0.3s ease-out;
  --animate-bg-in: bgIn 2.5s ease-out forwards;

  @keyframes animate-scale {
    0%,
    100 {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes bgIn {
    0% {
      opacity: 0;
      filter: blur(18px) brightness(1.2);
    }
    100% {
      opacity: 1;
      filter: blur(0px) brightness(1);
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  color: var(--primary);
}

body {
  color: var(--foreground);
  /* font-family: "Poppins", sans-serif; */
  font-weight: 400;
}
