@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #474747;
  --primary: #BE6462;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: "Poppins", sans-serif;
  --font-yrsa: "Yrsa", serif;
  --font-roboto: "Roboto", serif;
  --font-cinzel: "Cinzel Decorative", sans-serif;
  --animate-scale: animate-scale 3s ease-in-out infinite;

  @keyframes animate-scale {
    0%,
    100 {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

h1, h2 {
 color: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

